
.top-content-separator
{
    margin-bottom: 20px;
}

.top-content-fonts
{
    display: block;
    font-size: 19px;
    padding-left: 5px;
    padding-top: 15px;
}

.tittle-podcast
{
    background-color: lightGray;
	border-radius: 5px;
	height: 50px;
	width: 465px;
	
}
.description-podcast
{
    background-color: lightGray;
	border-radius: 5px;
	height: 50px;
	width: 950px;
}

.top-content-fonts
{
    display: block;
    font-size: 19px;
    padding-left: 5px;
    padding-top: 15px;
}

.bottom-description
{
    font-size: 13px;
    display: block;
    margin-top: 10px;
    padding-left: 5px;
}

.feed-content-row
{
    font-size: 15px;
    padding-left: 9px;
    padding-top: 15px;
    position: absolute;
}

.main-font
{
background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 1000px;	
    padding-bottom: 20px;
	border-radius: 8px;
    
}

.arrow-up
{
    background-color: #FFFFFF;
    background-image: url("/Contents/images/arrows.png");
    background-position: 200px 0 !important;
    background-repeat: no-repeat;
    height: 45px;
    margin-bottom: 10px;
    position: relative;
    width: 480px;
}

.arrow-down
{
    background-color: #FFFFFF;
    background-image: url("/Contents/images/arrows.png");
    background-position: 200px -40px !important;
    background-repeat: no-repeat;
    height: 45px;
    margin-top: 10px;
    position: relative;
    width: 480px;
}